#debug_level 3
source [find interface/stlink.cfg]
transport select swd

# Reduce initial adapter speed from 300 kHz default to 50 kHz
# Reduce post HSI-clock setup adapter speed from 2 MHz to 1 MHz
source [find stm32l1_custom.cfg]
#source [find target/stm32l1.cfg]
